.chat{
    flex: 0.65;
    display: flex;
    flex-direction: column;
}
.chat__header{
   
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
.chat__headerInfo{
    flex: 1;
    padding-left: 20px;
}
.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
    
}
.chat__headerInfo>p{
    color: gray;
}
.chat__headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;

}
.chat__body{
    flex:1;
    background-image:  url(https://i.redd.it/qwd83nc4xxf41.jpg) ;
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}
.chat__message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    background-color: #ffffff ;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 20px;
}
.chat__name{
    position: absolute;
    top: -14px;
    font-size: x-small;
}
.chat__timestamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat__reciever{
    margin-left: auto;
    background-color: #dcf8c6;
}
.chat__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid gray;
    background-color: lightgray;
    

} 
.chat__bottom> form{
    flex: 1;
    display: flex;
    place-items: center ;
    justify-content: space-between;
    margin: 5px;

    
  

}
.chat__bottom> form >input{
  flex: 1;
   border-radius: 30px;
   padding: 10px;
   border:none;
   margin-right: 10px;
   
}
.chat__bottom>form > button{
    display: none;
}
.chat__bottom>form >.MuisvgIcon-root{
    color: aquamarine;
  

}
.send{
    color: #0a8d48;
    margin-right: 5px;
}
