.app{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #dadbd3;
}

.app__body{
    display: flex;
    height: 90vh;
    width: 95vw;
    background-color: #ededed;
    box-shadow: -1px 4px 20px -6px rgba(0, 0 , 0 ,0.75);
}
.app__body> img{
    height: 75vh;
    place-items: center;
    padding: 20px;
   margin-left: 25%;
   
    
}